<header>
  <app-add-user></app-add-user>
</header>

<main>
  <app-list class="list-contact"  (newItemEvent)="showContact($event)"></app-list>
  <div class="info" >
    <div *ngIf="contact.fullName; else elseBlock">
      <form [formGroup]="form" novalidate>

        <input matInput autocomplete="off"  hidden="true" required formControlName="id" >

        <mat-form-field appearance="fill">
          <mat-label>Nom complet</mat-label>
          <input matInput autocomplete="off" required formControlName="fullName" (keyup)="handleSubmit()" >
          <mat-error *ngFor="let validation of messages.validation.fullName">
            <mat-error *ngIf="form.get('fullName')!.hasError(validation.type)">
              {{validation.message}}
            </mat-error>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>pseudo</mat-label>
          <input matInput autocomplete="off" required formControlName="pseudo" (keyup)="handleSubmit()">
          <mat-error *ngFor="let validation of messages.validation.pseudo">
            <mat-error *ngIf="form.get('pseudo')!.hasError(validation.type)">
              {{validation.message}}
            </mat-error>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>@email</mat-label>
          <input matInput autocomplete="off" required formControlName="email" (keyup)="handleSubmit()">
          <mat-error *ngFor="let validation of messages.validation.email">
            <mat-error *ngIf="form.get('email')!.hasError(validation.type)">
              {{validation.message}}
            </mat-error>
          </mat-error>
        </mat-form-field>

      </form>

      <button mat-raised-button color="warn" (click)="deleteContact(contact)">Delete</button>
    </div>

    <ng-template #elseBlock>
     Selectionner un contact
    </ng-template>
  </div>
</main>

