header {

  background-color: darkslateblue;
  color: white;
  display: flex;
  align-items: center;
  padding: 1rem;
}

app-add-user {
  width: 100%;
}

main {
  display: flex;
  flex-wrap: wrap;
}
.list-contact {
  padding: 1rem;
}

.info {
  padding: 1rem;
}



